# artifacts
__pycache__
.pytest*
*.egg-info
*/build/*
*/dist/*


# misc
.coverage
.vscode
coverage.xml
.ruff_cache


# Home Assistant configuration
config/*
!config/configuration.yaml
/.vs
/dotnet/nmapxml2json/.vs
/dotnet/nmapxml2json/bin
/dotnet/nmapxml2json/obj
